
.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    




}

.conteudo2{

   display: flex;
    flex-direction: row;
    justify-content: center;


}

body{
    background-color: #2f4f4f;
}

.tbl-color{
    background-color: black;
}

